<%- include("partials/header"); -%>

<div class="multi-container">
    <div class="heading">
        <h1>About</h1>
    </div>
    <br>
    <p class="para"> <%= aboutContent %> </p>
</div>
<%- include("partials/footer"); -%>
